#more-1 {
          display: none;
    }
#more-2 {
        display: none;
    }
#more-community1 {
    display: none;
}
#more-community2 {
    display: none;
}
#more-community3 {
    display: none;
}

      