#more-1 {
          display: none;
    }
#more-2 {
        display: none;
    }
#more-3 {
    display: none;
}
#more-community1 {
    display: none;
}
#more-community2 {
    display: none;
}
#more-community3 {
    display: none;
}
#more-health1 {
    display: none;
}
#more-health2 {
    display: none;
}
#more-health3 {
    display: none;
}
#more-health4 {
    display: none;
}

      