@media all and (min-width: 768px) {
  .etl {
    color: white;
    /* text-shadow: .5px .5px white; */
    margin-top: 120px;
  }

  #counters {
    margin: 0 10%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
  }

  #counters > div {
    width: 24%;
  }

  .counter-text {
    font-size: 70px;
    font-weight: bold;
    color: orange;
    text-align: center;
  }
  #fh5co-counter::after{
    content:'%';
   }

  .desp {
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: Arial;
    font-size: 15px;
  }
}

@media all and (max-width: 768px) {
  #counters {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .captions {
    display: block;
  }

  .background-area.large {
    /* background-color: #333; */
    /* background: url(../images/bg/mobile-main.JPG); */
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/bg/mobile-main.JPG);
  }
  .background-area.large-stem {
    /* background-color: #333; */
    /* background: url(../images/bg/mobile-main.JPG); */
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/bg/IMG_3596_Mobile.jpg);
  }
  .background-area.large-volunteer {
    background-color: #333;
    /* background: url(../images/bg/main.jpg); */
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/gallery/community/comm/comm5.JPG);
  }
  .background-area.large.code {
    /* background-color: #333; */
    /* background: url(../images/bg/mobile-main.JPG); */
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/bg/code_mob.jpg);
  }

  .slide.one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/bg/IMG_2918.JPG);
  }
}
.ftr {
  background: url(../images/bg/footer-2.JPG);
  height: 800px;
}
